# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
env/
venv/
ENV/

# VS Code and PyCharm
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# Logs and DBs
*.log
*.sqlite3
*.db

# System files
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key