streamlit==1.32.2
pandas>=2.0.0
numpy>=1.21
cryptography
web3
pyarrow
altair
gitpython
watchdog
requests
pillow
protobuf
pyyaml
pydeck
pycryptodome
click
blinker
jinja2
toml
rich
tenacity
pytyping
eth_account
eth_keys
eth_abi
eth_utils
